<header>
<section>
    <nav>
        <div style="display: flex;">
            <div style="flex-grow: 1;">
                <a href="/">
                    <img src="images/sg_logo.jpg" alt="株式会社エス・ジー" style="max-height: 1.75rem;">
                </a>
            </div>
            <div style="margin: 2px; padding: 1px 6px; background-color: rgba(255, 255, 255, 0.7);">
                <a href="/">
                    ホーム
                </a>
            </div>
            <div style="margin: 2px; padding: 1px 6px; background-color: rgba(255, 255, 255, 0.7);">
                <a href="/recruit/">
                    採用情報TOP
                </a>
            </div>
            <div style="margin: 2px; padding: 1px 6px; background-color: rgba(255, 255, 255, 0.7);">
                <a href="/recruit/event/">
                    社内行事レポート
                </a>
            </div>
            <div style="margin: 2px; padding: 1px 6px; background-color: rgba(255, 255, 255, 0.7);">
                <a href="/sitemap/">
                    サイトマップ
                </a>
            </div>
            <div style="margin: 2px; padding: 1px 6px; background-color: rgba(255, 255, 255, 0.7);">
                <a href="/contact/">
                    お問い合わせ
                </a>
            </div>
        </div>
    </nav>
</section>
</header>
