<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                第6回海外研修
            </h1>
            <h2 class="subtitle">
                <span class="icon">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                </span>
                2018年9月、10月
            </h2>
        </div>
    </div>
    <div class="hero-foot">
        <div class="container">
            <nav class="tabs is-boxed">
                <ul>
                    <li id="day1.html">
                        <a href="day1.html">1日目</a>
                    </li>
                    <li id="day2.html">
                        <a href="day2.html">2日目</a>
                    </li>
                    <li id="day3.html">
                        <a href="day3.html">3日目</a>
                    </li>
                    <li id="day4.html">
                        <a href="day4.html">4日目</a>
                    </li>
                    <li id="day5.html">
                        <a href="day5.html">5日目</a>
                    </li>
                    <li id="day6.html">
                        <a href="day6.html">6日目</a>
                    </li>
                    <li id="day7.html">
                        <a href="day7.html">7日目</a>
                    </li>
                    <li id="day8.html">
                        <a href="day8.html">8日目</a>
                    </li>
                </ul>
                <script>
                    const l = window.location.pathname.toString().replace(/.*\//, '');
                    const element = document.getElementById(l);
                    if (element) element.className = 'is-active';
                </script>
            </nav>
        </div>
    </div>
</section>
