<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                第6回海外研修
            </h1>
            <h2 class="subtitle">
                <span class="icon">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                </span>
                2018年9月、10月
            </h2>
        </div>
    </div>
    <div class="hero-foot">
        <div class="container">
            <nav class="tabs is-boxed">
                <ul>
                    <li class="is-active">
                        <a href="index.html">1日目</a>
                    </li>
                    <li>
                        <a href="day2.html">2日目</a>
                    </li>
                    <li>
                        <a href="day3.html">3日目</a>
                    </li>
                    <li>
                        <a href="day4.html">4日目</a>
                    </li>
                    <li>
                        <a href="day5.html">5日目</a>
                    </li>
                    <li>
                        <a href="day6.html">6日目</a>
                    </li>
                    <li>
                        <a href="day7.html">7日目</a>
                    </li>
                    <li>
                        <a href="day8.html">8日目</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
